
@media (max-width: 480px) { 
	.card-container{
		margin-left:auto;
		margin-right:auto;
		display:block;
	}
}


@media (max-width: 767px) {
	body {
		padding-left: 5px;
		padding-right: 5px;
	}
	.navbar-static-top{
		margin:0px;
	}
	.row-fluid{
		border:#808080 1px dotted;
		padding:1%;
		width:98%;
	}
	.card-container{
		margin-left:auto;
		margin-right:auto;
		display:block;
	}
}


@media (min-width: 768px) and (max-width: 979px) { 
}

@media (min-width: 1200px) { 
	
}